In [1]:
import pandas as pd
import numpy as np

In [2]:
user = pd.read_csv('dataset/movies/user.csv')
item = pd.read_csv('dataset/movies/item.csv')
user.head()

  Unnamed: 0    特效    剧情    动画
0      user1  0.93 -0.08  0.07
1      user2  0.93 -0.21  0.07
2      user3  0.90 -0.08  0.08
3      user4  0.94 -0.08  0.08
4      user5  0.11  0.81 -0.51

In [3]:
user.drop('Unnamed: 0', axis=1, inplace=True)
item.drop('Unnamed: 0', axis=1, inplace=True)
user = pd.DataFrame(user)
item = pd.DataFrame(item)