In [1]:
import pandas as pd
import numpy as np

In [69]:
user = pd.read_csv('dataset/movies/user.csv')
item = pd.read_csv('dataset/movies/item.csv')
user.head()

  Unnamed: 0    特效    剧情    动画
0      user1  0.93 -0.08  0.07
1      user2  0.93 -0.21  0.07
2      user3  0.90 -0.08  0.08
3      user4  0.94 -0.08  0.08
4      user5  0.11  0.81 -0.51

In [70]:
user.drop('Unnamed: 0', axis=1, inplace=True)
item.drop('Unnamed: 0', axis=1, inplace=True)
user = pd.DataFrame(user)
item = pd.DataFrame(item)

In [73]:
data = user.dot(item)

ValueError: matrices are not aligned

In [64]:
data1 = np.random.randint(1, 10, size=(12, 3))
data2 = np.random.randint(1, 10, size=(3, 9))
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
data = df1.dot(df2)

In [71]:
data

      0   1    2   3   4    5    6   7    8
0    86  54   92  61  47   67   84  58   73
1    88  50   98  76  57   86   91  64   69
2    68  24   59  65  20   56   63  39   69
3    38  16   34  33  12   29   35  22   38
4    84  34   74  74  25   64   77  48   85
5   140  78  131  95  47   86  126  81  138
6   110  76  109  56  42   55   98  65  105
7   112  66  112  78  49   78  105  70  103
8    76  56   80  38  36   42   70  48   68
9    82  52   84  53  38   55   77  52   74
10   86  36   83  82  38   79   84  55   79
11  128  78  137  95  71  104  126  87  108

In [65]:
data

      0   1    2   3   4    5    6   7    8
0    86  54   92  61  47   67   84  58   73
1    88  50   98  76  57   86   91  64   69
2    68  24   59  65  20   56   63  39   69
3    38  16   34  33  12   29   35  22   38
4    84  34   74  74  25   64   77  48   85
5   140  78  131  95  47   86  126  81  138
6   110  76  109  56  42   55   98  65  105
7   112  66  112  78  49   78  105  70  103
8    76  56   80  38  36   42   70  48   68
9    82  52   84  53  38   55   77  52   74
10   86  36   83  82  38   79   84  55   79
11  128  78  137  95  71  104  126  87  108

In [66]:
data1

array([[2, 5, 5],
       [1, 8, 4],
       [6, 2, 1],
       [3, 1, 1],
       [7, 2, 2],
       [9, 2, 7],
       [5, 1, 8],
       [5, 4, 6],
       [2, 2, 6],
       [3, 3, 5],
       [5, 5, 2],
       [3, 8, 7]])

In [67]:
data2

array([[8, 2, 6, 8, 1, 6, 7, 4, 9],
       [6, 2, 7, 8, 5, 9, 7, 5, 4],
       [8, 8, 9, 1, 4, 2, 7, 5, 7]])